/* tie.rc							-*- C -*-
   */

#define VER_FILEVERSION 2,4,0,0
#define VER_FILEVERSION_STR "Tie 2.4"

#define VER_FILEDESCRIPTION_STR "Merges change files to master Web file"
#define VER_INTERNALNAME_STR "Tie"
#define VER_ORIGINALFILENAME_STR "tie.exe"

#define VER_LEGALCOPYRIGHT_STR " Copyright (c) 1989,1992 by THD/ITI. All rights reserved."

#include <w2cwin32.version>
